#darbyImage{
    width: 450px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1{
    text-align: center;
    color: rgb(13, 163, 233);
}
h2{
    text-align: center;
    /* color:  */

}

body{
    background: #84FAB0;
    background: linear-gradient(0deg, #84FAB0 2%, #8FD3F4 98%);
    background: -webkit-linear-gradient(0deg, #84FAB0 2%, #8FD3F4 98%);    
    background: -moz-linear-gradient(0deg, #84FAB0 2%, #8FD3F4 98%);
    background: -o-linear-gradient(0deg, #84FAB0 2%, #8FD3F4 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='84FAB0', endColorstr='#8FD3F4',GradientType=1 );
}
